<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/spring.xml,classpath:spring/spring-*.xml</param-value>
        <!--param-value保证 spring.xml是第一个被解析的文件，不要做更改 -->
    </context-param>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>assetProcessEndpoint</servlet-name>
        <servlet-class>com.rusher.servlet.DelegatingServletProxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>assetProcessEndpoint</servlet-name>
        <url-pattern>/json/asset</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>testConnectionProcessEndpoint</servlet-name>
        <servlet-class>com.rusher.servlet.DelegatingServletProxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testConnectionProcessEndpoint</servlet-name>
        <url-pattern>/settings/testconnection</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>connectionSettingProcessEndpoint</servlet-name>
        <servlet-class>com.rusher.servlet.DelegatingServletProxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>connectionSettingProcessEndpoint</servlet-name>
        <url-pattern>/settings/platform</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>jiachadataProcessEndpoint</servlet-name>
        <servlet-class>com.rusher.servlet.DelegatingServletProxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jiachadataProcessEndpoint</servlet-name>
        <url-pattern>/json/jiachadata</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exchangeRateSettingProcessEndpoint</servlet-name>
        <servlet-class>com.rusher.servlet.DelegatingServletProxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exchangeRateSettingProcessEndpoint</servlet-name>
        <url-pattern>/settings/exchange_rate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>thresholdSettingProcessEndpoint</servlet-name>
        <servlet-class>com.rusher.servlet.DelegatingServletProxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>thresholdSettingProcessEndpoint</servlet-name>
        <url-pattern>/settings/threshold</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>openEntityManagerInView</filter-name>
        <filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
        <init-param>
            <param-name>sessionFactoryBeanName</param-name>
            <param-value>sessionFactory</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>openEntityManagerInView</filter-name>
        <url-pattern>/data/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
