<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="assetProcessEndpoint" class="com.rusher.interfaces.ws.endpoint.WebServiceRequestEndPoint">
        <constructor-arg index="0" ref="otaRequestMessageReader"/>
        <constructor-arg index="1" ref="otaRequestReplyWriter"/>
        <constructor-arg index="2" ref="otaRequestValidator"/>
        <constructor-arg index="3" ref="assetRequestMessageMarshaller"/>
        <constructor-arg index="4" ref="assetProcessService"/>
    </bean>

    <bean id="jiachadataProcessEndpoint" class="com.rusher.interfaces.ws.endpoint.WebServiceRequestEndPoint">
    <constructor-arg index="0" ref="otaRequestMessageReader"/>
    <constructor-arg index="1" ref="otaRequestReplyWriter"/>
    <constructor-arg index="2" ref="otaRequestValidator"/>
    <constructor-arg index="3" ref="jiachadataMessageMarshaller"/>
    <constructor-arg index="4" ref="jiachadataProcessService"/>
    </bean>

    <!--<bean id="otaCancelRequestEndpoint" class="com.rusher.interfaces.ws.endpoint.WebServiceRequestEndPoint">-->
    <!--<constructor-arg index="0" ref="otaRequestMessageReader"/>-->
    <!--<constructor-arg index="1" ref="otaRequestReplyWriter"/>-->
    <!--<constructor-arg index="2" ref="otaRequestValidator"/>-->
    <!--<constructor-arg index="3" ref="otaCancelRequestMessageMarshaller"/>-->
    <!--<constructor-arg index="4" ref="jsonCancelProcessService"/>-->
    <!--</bean>-->

    <bean id="otaRequestMessageReader" class="com.rusher.ws.WebServiceRequestMessageReader">
        <constructor-arg value="UTF-8"/>
    </bean>

    <bean id="otaRequestReplyWriter" class="com.rusher.ws.WebServiceRequestReplyWriter"/>

    <bean id="otaRequestValidator" class="com.rusher.ws.WebServiceRequestValidator">
        <!---->
        <property name="gzipRequired" value="false"/>

        <!---->
        <property name="requestLarge" value="0"/>

    </bean>

    <!--JSON-->
    <bean id="assetRequestMessageMarshaller" class="com.rusher.utils.JsonMessageMarshaller">
        <constructor-arg value="com.rusher.interfaces.dto.AssetResponse"/>
        <constructor-arg ref="objectMapper"/>
    </bean>

    <bean id="jiachadataMessageMarshaller" class="com.rusher.utils.JsonMessageMarshaller">
        <constructor-arg value="com.rusher.interfaces.dto.JiaChaDataResponse"/>
        <constructor-arg ref="objectMapper"/>
    </bean>


    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>

    <!--<bean id="otaQueryRequestMessageMarshaller" class="com.rusher.utils.JsonMessageMarshaller">-->
    <!--<constructor-arg value="com.derbysoft.doorway.json.protocol.QueryReservationRequest"/>-->
    <!--</bean>-->

    <!--<bean id="otaCancelRequestMessageMarshaller" class="com.rusher.utils.JsonMessageMarshaller">-->
    <!--<constructor-arg value="com.derbysoft.doorway.json.protocol.CancelRequest"/>-->
    <!--</bean>-->
</beans>