<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="hotelBuyerRemoteService" class="com.derbysoft.dswitch.remote.hotel.buyer.DefaultHotelBuyerRemoteService">
        <constructor-arg value="${dswitch.hosts}"/>
        <property name="sdcUrl" value="${sdc.url}"/>
        <property name="availTimeout" value="5"/>
        <property name="noCacheAvailTimeout" value="120"/>
        <property name="reservationTimeout" value="120"/>
    </bean>

</beans>