<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="otaReservationRequestEndpoint" class="com.derbysoft.doorway.interfaces.ws.json.endpoint.WebServiceRequestEndPoint">
        <constructor-arg index="0" ref="otaRequestMessageReader"/>
        <constructor-arg index="1" ref="otaRequestReplyWriter"/>
        <constructor-arg index="2" ref="otaRequestValidator"/>
        <constructor-arg index="3" ref="otaReservationRequestMessageMarshaller"/>
        <constructor-arg index="4" ref="jsonReservationProcessService"/>
    </bean>

    <bean id="otaQueryRequestEndpoint" class="com.derbysoft.doorway.interfaces.ws.json.endpoint.WebServiceRequestEndPoint">
        <constructor-arg index="0" ref="otaRequestMessageReader"/>
        <constructor-arg index="1" ref="otaRequestReplyWriter"/>
        <constructor-arg index="2" ref="otaRequestValidator"/>
        <constructor-arg index="3" ref="otaQueryRequestMessageMarshaller"/>
        <constructor-arg index="4" ref="jsonQueryProcessService"/>
    </bean>

    <bean id="otaCancelRequestEndpoint" class="com.derbysoft.doorway.interfaces.ws.json.endpoint.WebServiceRequestEndPoint">
        <constructor-arg index="0" ref="otaRequestMessageReader"/>
        <constructor-arg index="1" ref="otaRequestReplyWriter"/>
        <constructor-arg index="2" ref="otaRequestValidator"/>
        <constructor-arg index="3" ref="otaCancelRequestMessageMarshaller"/>
        <constructor-arg index="4" ref="jsonCancelProcessService"/>
    </bean>

    <bean id="otaRequestMessageReader" class="com.derbysoft.warrior.common.ws.request.WebServiceRequestMessageReader">
        <constructor-arg value="UTF-8"/>
    </bean>

    <bean id="otaRequestReplyWriter" class="com.derbysoft.warrior.common.ws.request.WebServiceRequestReplyWriter"/>

    <bean id="otaRequestValidator" class="com.derbysoft.warrior.common.ws.request.WebServiceRequestValidator">
        <!---->
        <property name="gzipRequired" value="false"/>

        <!---->
        <property name="requestLarge" value="0"/>

    </bean>

    <!--JSON-->
    <bean id="otaReservationRequestMessageMarshaller" class="com.derbysoft.doorway.application.support.JsonMessageMarshaller">
        <constructor-arg value="com.derbysoft.doorway.json.protocol.ReservationRequest"/>
    </bean>

    <bean id="otaQueryRequestMessageMarshaller" class="com.derbysoft.doorway.application.support.JsonMessageMarshaller">
        <constructor-arg value="com.derbysoft.doorway.json.protocol.QueryReservationRequest"/>
    </bean>

    <bean id="otaCancelRequestMessageMarshaller" class="com.derbysoft.doorway.application.support.JsonMessageMarshaller">
        <constructor-arg value="com.derbysoft.doorway.json.protocol.CancelRequest"/>
    </bean>
</beans>